{% extends "layout/base-login.html" %}
{% block content %}
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-tittle">Mini HRD - Silahkan Login</h3>
						</div><!-- panel-heading -->
						<div class="panel-body">
							<form action="/login/" method="POST" role="form">
								{% crsf_token %}
								{% if messages %}
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
										<ul>
											{% for message in messages %}
												<li>{{ message }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endif%}
								<fieldset>
									<div class="form-group">
										<input class="from-control" type="text" name="username" value="" placeholder="Silahkan masukkan username...">
									</div>
									<div class="form-group">
										<input class="from-control" type="password" name="password" value="" placeholder="Silahkan masukkan password...">
									</div>
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Log In">
								</fieldset>
							</form>
						</div><!-- panel-body -->
					</div>
				</div>
			</div><!-- row -->
{% endblock %}